In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
# Read in the data from the CSV file
df = pd.read_csv('datasets/payment_fraud.csv')

In [3]:
df.sample(30)

,accountAgeDays,numItems,localTime,paymentMethod,paymentMethodAgeDays,label
1457,2000,1,4.921318,paypal,367.237500,0
21891,259,1,4.962055,paypal,0.000000,0
2195,2000,1,4.921349,creditcard,0.000000,0
17539,73,1,5.017904,paypal,0.122222,0
19386,210,1,4.876771,creditcard,0.348611,0
2352,560,1,5.017904,creditcard,326.771528,0
29461,25,1,4.921318,creditcard,0.000000,0
37119,41,1,4.745402,creditcard,0.006250,0
10210,2000,1,5.017904,creditcard,1920.043750,0
33937,57,1,4.057414,creditcard,0.002083,0
37417,299,1,5.034622,creditcard,0.000694,0
25484,827,1,5.034622,storecredit,208.020833,0
15720,2000,1,5.034622,storecredit,532.209028,0
34773,2000,1,4.876771,creditcard,0.002778,0
31304,2000,1,4.742303,creditcard,44.729861,0
38589,2000,1,4.962055,creditcard,0.000000,0
25202,1018,1,5.034622,storecredit,774.137500,0
23053,10,1,4.745402,creditcard,0.000000,0
29672,2,1,4.962055,creditcard,1.083333,0
18143,2,1,4.895263,storecredit,1.915972,0
34370,2000,1,5.034622,creditcard,0.000000,0
37321,1603,1,4.895263,creditcard,197.018750,0
17153,5,1,4.836982,paypal,0.000000,0
20781,2,1,4.965339,creditcard,1.120833,0
24938,1278,1,5.034622,paypal,1277.938889,0
5780,77,1,5.017904,paypal,0.000000,0
16372,2000,1,4.505662,creditcard,147.046528,0
17123,38,1,4.886641,creditcard,0.000000,0
7861,904,1,4.742303,paypal,0.000000,0
28217,2,1,5.017904,paypal,0.000000,0

In [4]:
# Convert categorical feature into dummy variables with one-hot encoding
df = pd.get_dummies(df, columns=['paymentMethod'])
df.sample(3)

,accountAgeDays,numItems,localTime,paymentMethodAgeDays,label,paymentMethod_creditcard,paymentMethod_paypal,paymentMethod_storecredit
16056,474,1,4.836982,473.949306,0,True,False,False
10047,154,1,4.962055,0.000000,0,True,False,False
3867,2000,1,4.895263,311.559028,0,True,False,False

In [5]:
# Split dataset up into train and test sets
X_train, X_test, y_train, y_test = train_test_split(
    df.drop('label', axis=1), df['label'],
    test_size=0.33, random_state=17)

In [6]:
# Initialize and train classifier model
clf = LogisticRegression().fit(X_train, y_train)

# Make predictions on test set
y_pred = clf.predict(X_test)

In [7]:
# Compare test set predictions with ground truth labels
print(accuracy_score(y_pred, y_test))
print(confusion_matrix(y_test, y_pred))

1.0
[[12753     0]
 [    0   190]]